/** NAV - HEADER SECTION **/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Rubik+Scribble&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* includes the content, padding, and border in the calculated width and height of an element*/
  font-family: 'Roboto', sans-serif;
  
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; /**top padding is zero and the padding on the right is 16px**/
  background: linear-gradient(to top, #00cc66 40%, #339966 100%);
}

header {
  background: linear-gradient(to bottom, #00cc66 40%, #e0e8e45b 100%);
  height: calc(100vh - 70px);
  padding: 72px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Rubik Scribble", system-ui;
  color: rgba(255, 255, 255, 0.855);
  letter-spacing: 10px;
  text-shadow: 8px 8px 4px #00000088;
  font-size: 64px
}

.subheader {
  font-size: 24px;
  margin: 16px 0 24px 0; /** Think of it like a clock - 
  16px spacing on the top, 0 on the right, 24px on the bottom, and 0 spacing on the left**/

}

button {
  background-color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 4px 16px;
  cursor: pointer;
}

@keyframes button-Animation{
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.button-style {
  animation: button-Animation 1.5s ease-out 300ms infinite;
}


a {
  color: #000;
  font-size: 16px;
  text-decoration: none; 
  font-weight: 400;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
}

.row{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

#about, #discord, #contact, footer {
  padding: 48px 0;
}


/** ABOUT SECTION **/


#about {
  background: linear-gradient(to bottom, #e0e8e45b 40%, #e0e8e45b 100%);

}


h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description { /** BEM CSS is being used - section is the block, description is the element**/
  display: flex;
  justify-content: center;
  align-items: center;

}

.about__img--wrapper {
  width: 40%;
}

.section__description--wrapper {
  width: 60%;   /** width of description is 60% to allow the width of the img__wrapper to be 40% **/
}

.about__img--wrapper, .section__description--wrapper { /** using a comma separates each element, 
  and allows both to be edited at the same time, which is more efficient **/
  padding: 0 24px;

}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
}

img {
  width: 100%;
}

.img--border{
  border-radius: 20px;
  border-style: solid;
  border-color: black;
}

/** DISCORD SECTION **/

#discord {
  background: linear-gradient(to bottom, #e0e8e45b 40%, #00cc66b6 100%);
}

/** CONTACT SECTION **/


#contact  {
  background: linear-gradient(to bottom, #00cc66b4 10%, #e0e8e45b 100%);

}

form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /** automatic left and right correction **/
  padding: 0 16px;
}

input, textarea {
  margin-bottom: 24px;
  font-size: 16px;
  padding: 6px 12px;

}

/** FOOTER SECTION **/

footer {
  background: linear-gradient(to bottom, #e0e8e45b 10%, #e0e8e45b 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  max-width: 480px;
  margin-bottom: 16px;
}

.footer__links {
  margin-bottom: 32px;
}

.footer__link {
  padding: 0 16px;
}

.copyright{
  font-size: x-small;
  
}

@media (max-width: 728px){  /** SMALL PHONES, TABLETS, AND SMARTPHONES **/
  .row {
    flex-direction: column;  /** allows header and computer image to not be side by side on small phones **/
  }

  .home__description{
    margin-bottom: 24px;      /** because button is inside of the home__description class, there is no need to make a button element for @media **/
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home__description--button {     /** button sizing changes only for phone and tablets **/
    max-width: 240px;

  }

  h1 {
    text-align: center;
    font-size: 60px;
  }

  .subheader {
    text-align: center;
    font-size: 20px;
  }


  ul {
    display: none;    /** gets rid of the navigation bar links **/

  }

  .section__description {       /** use inspect tool in browser to quickly identify and adjust the webpage parameters - in this case, 
    the inspect tool highlighted the about section (.section__description) which adjusts the format for phones and tablets  **/
    flex-direction: column;
  }

  .section__description--wrapper {
    width: 100%;
  }

  .about__img--wrapper {
    width: 100%;
  }

  #discord .section__description {     /** this is supposed to connect the column format from the section__description, but now move the text above the image **/
    flex-direction: column-reverse;
  }

  footer {
    padding: 48px 24px;      /** makes image smaller because your did not hard code the image (px) always use a % (especially for 
    images) --- the img{} width is set to 100%  which allows flexibility for padding later on **/
  }

  .footer__logo {
    max-width: 360px;     
  }

  .footer__link {
    padding: 0 8px;
    font-size: 16px;
  }

  .footer__links {
    margin-bottom: 24px;
  }
} 



